<div
  id='CollectionGrid'
  props='{ "collectionID": "{{- collection.handle -}}" }'
></div>

{%- render 'spacer', _mobile_space: section.settings.bottom_margin_mobile, _desktop_space: section.settings.bottom_margin_desktop -%}

{% schema %}
{
  "name": "Collection Grid",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "bottom_margin_mobile",
      "label": "Bottom Margin - Mobile",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 40
    },
    {
      "id": "bottom_margin_desktop",
      "label": "Bottom Margin - Desktop",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 70
    }
  ]
}
{% endschema %}
