<div class="container mt-8">
  <h3 class="mb-4 border-b pb-4 border-grey-3">Typography</h3>

  <div class="mb-10 grid lg:grid-cols-2">
    <div class="px-5 py-4">
      <h1 class="mb-11">Heading One</h1>
      <h2 class="mb-11">Heading Two</h2>
      <h3 class="mb-11">Heading Three</h3>
      <h4 class="mb-11">Heading Four</h4>
      <h5 class="mb-11">Heading Five</h5>
      <h6 class="mb-11">Heading Six</h6>

      <div class="grid gap-y-4 mb-11">
        <p class="caps-large">Subtitle Large - Caps</p>
        <p class="caps-regular">Subtitle Regular - Caps</p>
        <p class="mb-6 caps-small">Subtitle Small - Caps</p>
        <p class="sub-large">Subtitle Large</p>
        <p class="sub-regular">Subtitle Regular</p>
        <p class="sub-small">Subtitle Small</p>
      </div>

      <div class="grid gap-y-4">
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa
          vitae tortor condimentum lacinia quis vel. Varius vel pharetra vel turpis nunc eget lorem dolor. <b>Sed libero enim sed</b>
          <strong>faucibus turpis in eu.</strong> Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.
          <i>Nullam non nisi</i> est sit amet facilisis magna.
        </p>

        <p>
          Magna etiam tempor orci eu lobortis <a href="">elementum nibh</a> tellus molestie. Feugiat nibh sed pulvinar proin gravida
          hendrerit. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat.
        </p>

        <p class="text-sm">
          Lectus proin nibh nisl condimentum id venenatis a condimentum. Elementum tempus egestas sed sed risus pretium. Nunc aliquet
          bibendum enim facilisis gravida neque. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Pellentesque sit
          amet porttitor eget dolor morbi. Gravida rutrum quisque non tellus.
        </p>

        <p class="text-xs">
          At lectus urna duis convallis convallis. At risus viverra adipiscing at in. Sit amet est placerat in egestas erat. Egestas dui id
          ornare arcu odio. Commodo quis imperdiet massa tincidunt nunc pulvinar. Pulvinar neque laoreet suspendisse interdum. At in tellus
          integer feugiat scelerisque varius morbi enim nunc.
        </p>
      </div>
    </div>

    <div class="px-5 py-4 text-white bg-black links-inverted">
      <h1 class="mb-11">Heading One</h1>
      <h2 class="mb-11">Heading Two</h2>
      <h3 class="mb-11">Heading Three</h3>
      <h4 class="mb-11">Heading Four</h4>
      <h5 class="mb-11">Heading Five</h5>
      <h6 class="mb-11">Heading Six</h6>

      <div class="grid gap-y-4 mb-11">
        <p class="caps-large">Subtitle Large - Caps</p>
        <p class="caps-regular">Subtitle Regular - Caps</p>
        <p class="mb-6 caps-small">Subtitle Small - Caps</p>
        <p class="sub-large">Subtitle Large</p>
        <p class="sub-regular">Subtitle Regular</p>
        <p class="sub-small">Subtitle Small</p>
      </div>

      <div class="grid gap-y-4">
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa
          vitae tortor condimentum lacinia quis vel. Varius vel pharetra vel turpis nunc eget lorem dolor. <b>Sed libero enim sed</b>
          <strong>faucibus turpis in eu.</strong> Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.
          <i>Nullam non nisi</i> est sit amet facilisis magna.
        </p>

        <p>
          Magna etiam tempor orci eu lobortis <a href="">elementum nibh</a> tellus molestie. Feugiat nibh sed pulvinar proin gravida
          hendrerit. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat.
        </p>

        <p class="text-sm">
          Lectus proin nibh nisl condimentum id venenatis a condimentum. Elementum tempus egestas sed sed risus pretium. Nunc aliquet
          bibendum enim facilisis gravida neque. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Pellentesque sit
          amet porttitor eget dolor morbi. Gravida rutrum quisque non tellus.
        </p>

        <p class="text-xs">
          At lectus urna duis convallis convallis. At risus viverra adipiscing at in. Sit amet est placerat in egestas erat. Egestas dui id
          ornare arcu odio. Commodo quis imperdiet massa tincidunt nunc pulvinar. Pulvinar neque laoreet suspendisse interdum. At in tellus
          integer feugiat scelerisque varius morbi enim nunc.
        </p>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Color Pallete</h3>

    <h5 class="mb-3">Brand Colors</h5>

    <div class="mb-11 grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-1"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-2"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-3"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-4"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-5"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-6"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-7"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-color-8"></div>
      </div>
    </div>

    <h5 class="mb-3">Grey Scale</h5>

    <div class="mb-11 grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-1"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-2"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-3"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-4"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-5"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-6"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-7"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-8"></div>
      </div>
    </div>

    <h5 class="mb-3">Utility Colors</h5>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-error"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-error-light"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-success"></div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-success-light"></div>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Buttons & Links</h3>

    <div class="grid lg:grid-cols-2 gap-4">
      <div class="grid items-center gap-2 px-3 lg:px-6 py-4 lg:py-8">
        <h5 class="mb-3">Primary</h5>

        <button class="button button--primary">Button</button>
        <button class="button button--primary" disabled>Button</button>
      </div>

      <div class="grid items-center gap-2 px-3 lg:px-6 py-4 lg:py-8 bg-black text-white">
        <h5 class="mb-3">Primary on Dark</h5>

        <button class="button button--primary-invert">Button</button>
        <button class="button button--primary-invert" disabled>Button</button>
      </div>

      <div class="grid items-center gap-2 px-3 lg:px-6 py-4 lg:py-8">
        <h5 class="mb-3">Secondary</h5>

        <button class="button button--secondary">Button</button>
        <button class="button button--secondary" disabled>Button</button>
      </div>

      <div class="grid items-center gap-2 px-3 lg:px-6 py-4 lg:py-8 bg-black text-white">
        <h5 class="mb-3">Secondary on Dark</h5>

        <button class="button button--secondary-invert">Button</button>
        <button class="button button--secondary-invert" disabled>Button</button>
      </div>

      <div class="grid items-center gap-2 px-3 lg:px-6 py-4 lg:py-8">
        <h5 class="mb-3">Small</h5>

        <button class="button-small button--small-primary">Button</button>
        <button class="button-small button--small-secondary">Button</button>
      </div>

      <div class="px-6 py-8">
        <h5 class="mb-3">Links</h5>

        <p class="mb-2">This is an <a href="#">inline link</a> example.</p>
        <p class="mb-2 p-4 bg-black text-white links-inverted">This is an <a href="#">inline link</a> example.</p>
        <button class="button-link">Content Module Link</button>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Forms</h3>

    <form class="grid lg:grid-cols-2 items-start">
      <div class="grid items-center gap-2">
        <h5 class="mb-3">Fields</h5>

        <div class="mb-5 input-wrap">
          <input type="text" name="input-one" id="input-one" required data-error-message="Your name is required" placeholder=" ">
          <label for="input-one">Text Input</label>
        </div>

        <div class="mb-5 input-wrap">
          <input type="tel" name="input-two" id="input-two" disabled required data-error-message="Your phone is required" placeholder=" ">
          <label for="input-two">Phone Input</label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="email"
            name="input-three"
            id="input-three"
            value="Savannah"
            required
            data-error-message="Please enter a valid email address"
            placeholder=" "
          >
          <label for="input-three">Email Input</label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="number"
            name="input-four"
            id="input-four"
            min="1"
            max="3"
            required
            data-error-message="Please enter a number between 1 and 3"
            placeholder=" "
          >
          <label for="input-four">Number Input</label>
        </div>

        <div class="mb-5 select-wrap">
          <select id="my-select">
            <option>Option One</option>
            <option>Option Three</option>
            <option>Option Two</option>
            <option>Option Four</option>
          </select>
          <label for="my-select">Frequency</label>
        </div>

        <div class="mb-5 input-wrap">
          <textarea
            name="textarea"
            id="textarea"
            cols="30"
            rows="10"
            required
            data-error-message="Please enter a message"
            placeholder=" "
          ></textarea>
          <label for="textarea">Message</label>
        </div>
      </div>

      <div class="grid items-center gap-2">
        <div class="my-4 flex flex-col">
          <div class="mt-1 check-wrap">
            <input type="checkbox" name="input-checkbox-1" id="input-checkbox-1">
            <label for="input-checkbox-1">Checkbox one</label>
          </div>
          <div class="mt-1 check-wrap">
            <input type="checkbox" name="input-checkbox-2" id="input-checkbox-2" checked>
            <label for="input-checkbox-2">Checkbox 2</label>
          </div>
          <div class="mt-1 check-wrap">
            <input type="checkbox" name="input-checkbox-3" id="input-checkbox-3" disabled>
            <label for="input-checkbox-3">Another checkbox</label>
          </div>
          <div class="mt-1 check-wrap">
            <input type="checkbox" name="input-checkbox-4" id="input-checkbox-4" checked disabled>
            <label for="input-checkbox-4">Checkbox</label>
          </div>
        </div>

        <div class="my-4 flex flex-col">
          <div class="mt-1 radio-wrap">
            <input type="radio" name="styleguids-radios" id="input-radio-1">
            <label for="input-radio-1">Radio one</label>
          </div>
          <div class="mt-1 radio-wrap">
            <input type="radio" name="styleguids-radios" id="input-radio-2" checked>
            <label for="input-radio-2">Radio 2</label>
          </div>
          <div class="mt-1 radio-wrap">
            <input type="radio" name="styleguids-radios-disabled" id="input-radio-3" disabled>
            <label for="input-radio-3">Another radio</label>
          </div>
          <div class="mt-1 radio-wrap">
            <input type="radio" name="styleguids-radios-disabled" id="input-radio-4" checked disabled>
            <label for="input-radio-4">Radio</label>
          </div>
        </div>
      </div>

      <div>
        <button class="button button--primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Alerts</h3>

    <div class="grid grid-cols-12 items-start gap-x-4">
      <div class="my-3 alert error-alert col-span-4">
        <span>This email address is associated with an account. If this account is yours, please try resetting your password.</span>
      </div>

      <div class="my-3 alert success-alert col-span-4">
        <span>We’ve sent you an email with a link to update your password.</span>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Table</h3>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Order Value</th>
            <th>Standard Ground</th>
            <th>3-Day</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$0.00 - $25.00</td>
            <td>$4.99</td>
            <td>$16.99</td>
          </tr>

          <tr>
            <td>$25.01 - $50.00</td>
            <td>$7.99</td>
            <td>$19.99</td>
          </tr>

          <tr>
            <td>$50.01 - $100.00</td>
            <td>$12.99</td>
            <td>$27.99</td>
          </tr>

          <tr>
            <td>$150.01 - $200.00</td>
            <td>$19.99</td>
            <td>$31.99</td>
          </tr>

          <tr>
            <td>$150.01 - $200.00</td>
            <td>$19.99</td>
            <td>Dolor sit amet</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Block quote</h3>

    <div class="grid grid-cols-12 gap-x-4">
      <div class="col-span-8">
        <blockquote class="blockquote">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod temp or sed incididunt ut labore et dolore magna aliqua.
            Vulputate odio ut enim blandit volutpat maecenas. Dapi bus ultrices in iacul is nunc sed augue lacus viverra vitae. Integer quis
            auctor elit sed vulputate.
          </p>
        </blockquote>
      </div>

      <div class="col-span-4">
        <blockquote class="blockquote blockquote--small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod temp or sed incididunt ut labore et dolore magna aliqua.
            Vulputate odio ut enim blandit volutpat maecenas. Dapi bus ultrices in iacul is nunc sed augue lacus viverra vitae. Integer quis
            auctor elit sed vulputate.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Accordions</h3>

    {%- render 'accordion-item', _title: 'Title', _content: 'This is my accordion content' -%}

    {%- render 'accordion-item', _title: 'Title 2', _content: 'This is my accordion content' -%}

    {%- render 'accordion-item', _title: 'Title 3', _content: 'This is my accordion content' -%}
  </div>
</div>

{% schema %}
{
  "name": "Styleguide"
}
{% endschema %}
