/* Pagination */
.pagination {
  margin-top: 24px !important;
}

.pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  flex: 1 1;
  max-width: 2rem;
}

.pagination li:not(:last-child) {
  margin-right: 0rem;
}

.pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
  width: 2rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.pagination li :first-child svg {
  height: 0.6rem;
}

.pagination li:first-of-type svg {
  transform: rotate(90deg);
}

.pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.icon-wrapper:hover:before {
  @apply absolute cursor-pointer transition-all;
  content: '';
  z-index: 1;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: var(--primary-4);
  filter: blur(5px);
  height: 25px;
  width: 25px;
  z-index: 0;
}

.pagination li {
  position: relative;
}

.pagination li p,
.pagination li a {
  z-index: 5;
}

.pagination li:hover p,
.pagination li [aria-current] p,
.pagination li:hover a {
  font-weight: bold;
}

.pagination li [aria-current]:after,
.pagination li a:not(.dots):hover:after {
  @apply absolute cursor-pointer transition-all;
  content: '';
  z-index: 1;
  border-radius: 50%;
  background: var(--primary-4);
  filter: blur(5px);
  height: 25px;
  width: 25px;
  z-index: -3;
}

.pagination li:hover:after {
  left: 5px;
  top: 3px;
}