<div class="container mt-8">

  <h3 class="mb-4 border-b pb-4 border-grey-3">Type scales
  </h3>

  <div class="mb-10">
    <div class="py-4">
      <h5 class="mb-2">Heading Type scales
      </h5>
      <h1 class="pb-11 font-bold">H1 Title Example lorem ipsum
      </h1>
      <h1 class="pb-11">H1 Thin Title Example lorem
        </h1>
      <h2 class="pb-11 font-bold">H2 Title Example lorem ipsum
      </h2>
      <h2 class="pb-11">H2 Thin Title Example lorem
        </h2>
      <h3 class="pb-11 font-bold">H3 Title Example lorem ipsum
      </h3>
      <h3 class="pb-11">H3 Thin Title Example lorem
        </h3>
      <h4 class="pb-11 font-bold">H4 Title Example lorem ipsum
      </h4>
      <h4 class="pb-11">H4 Thin Title Example lorem
        </h4>
      <h5 class="pb-11">H5 Title Example lorem ipsum
      </h5>
      <h6 class="pb-11">H6 Title Example lorem ipsum
      </h6>

      <div class="grid gap-y-4 mb-11">
        <h5 class="mb-2">Subheading Type scales
      </h5>
        <div class="flex gap-16">
          <div>
            <p class="sub-lg mb-2">SUBHEADING LARGE LOREM IPSUM DOREM
            </p>
            <p class="sub-reg mb-2">SUBHEADING REGULAR LOREM IPSUM DOREM
            </p>
            <p class="sub-sm mb-2">SUBHEADING SMALL LOREM IPSUM DOREM
            </p>
          </div>
          <div>
            <p class="sub-lg mb-2">Subheading Large Lorem Ipsum Dorem
            </p>
            <p class="sub-reg mb-2">Subheading Regular Lorem Ipsum Dorem
            </p>
            <p class="sub-sm mb-2">Subheading Small Lorem Ipsum Dorem
            </p>
          </div>
        </div>
      </div>

      <div class="grid gap-y-4">
        <h5 class="mb-2">Paragraph Type scales
          </h5>
        <p class="text-lg font-bold">Paragraph - Large</p>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa vitae
          tortor condimentum lacinia quis vel. Varius vel pharetra vel turpis nunc eget lorem dolor.
          <b>Sed libero enim sed
          </b>
          <strong>faucibus turpis in eu.
          </strong>
          Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.
          <i>Nullam non nisi
          </i>
          est sit amet facilisis magna.
        </p>

        <p class="font-bold">Paragragh - Regular</p>
        <p>
          Magna etiam tempor orci eu lobortis
          <a href="">elementum nibh
          </a>
          tellus molestie. Feugiat nibh sed pulvinar proin gravida hendrerit. Aenean sed adipiscing diam donec adipiscing tristique risus nec
          feugiat.
        </p>

        <p class="text-sm font-bold">Paragragh - Small</p>
        <p class="text-sm">
          Lectus proin nibh nisl condimentum id venenatis a condimentum. Elementum tempus egestas sed sed risus pretium. Nunc aliquet bibendum enim
          facilisis gravida neque. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Pellentesque sit amet porttitor eget dolor
          morbi. Gravida rutrum quisque non tellus.
        </p>
      </div>
    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Color Pallete
    </h3>

    <h5 class="mb-3">Brand Colors
    </h5>

    <div class="mb-11 grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-primary-1 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Primary 1 - Ice</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-primary-2 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">
            Primary 2 - Pond</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-primary-3 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">
            Primary 3 - Ocean</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-primary-4 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">
            Primary 4 - Sunshine</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-primary-6 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">
            Primary 4 - Pale Yellow</span>
        </div>
      </div>

    </div>

    <h5 class="mb-3">Greyscale, Black & White
    </h5>

    <div class="mb-11 grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-1 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Grey 1</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-2 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Grey 2</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-3 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Grey 3</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-4 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Grey 4</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-grey-5 flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Grey 5</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-black flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Black</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-white border-black border flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">White</span>
        </div>
      </div>
    </div>

    <h5 class="mb-3">Utility Colors
    </h5>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-error flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Error</span>
        </div>
      </div>

      <div class="mb-2 relative pb-[100%]">
        <div class="absolute w-full h-full bg-success flex items-end p-4">
          <span class="px-2 py-1 text-sm bg-white">Success</span>
        </div>
      </div>
    </div>

  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Buttons & Links
    </h3>

    <div class="grid lg:grid-cols-2 gap-4">
      <div class="button-grid grid items-center bg-black gap-2 px-3 lg:px-6 py-4 lg:py-[4rem]">
        <h5 class="mb-3 text-white">Light</h5>
        <hr class="text-white">
        <h6 class="text-white">Primary</h6>
        <div class="flex items-center gap-8 py-2">
          <button class="button button--primary-light">Button
          </button>
        </div>

        <hr class="text-white">
        <h6 class="text-white">Secondary</h6>

        <div class="flex items-center gap-8 py-2">
          <button class="button button--secondary-light">Button
          </button>

          <button class="button button--secondary-light button-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#fff" fill-rule="evenodd" d="m13.136 3.607 7.16 7.16c.439.44.439 1.151 0 1.59l-7.16 7.16-1.591-1.59 5.239-5.24H3.375v-2.25h13.409l-5.239-5.239 1.591-1.59Z" clip-rule="evenodd"/></svg>
          </button>
        </div>

      </div>

      <div class="button-grid grid items-center bg-grey-2 gap-2 px-3 lg:px-6 py-4 lg:py-[4rem]">
        <h5 class="mb-3">Dark</h5>
        <hr class="text-black">
        <h6 class="text-black">Primary</h6>

        <div class="flex items-center gap-8 py-2">
          <button class="button button--primary-dark">Button
          </button>
        </div>
        <hr class="text-black">
        <h6 class="text-black">Secondary</h6>

        <div class="flex items-center gap-8 py-2">
          <button class="button button--secondary-dark">Button
          </button>

          <button class="button button--secondary-dark button-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#1f1f1f" fill-rule="evenodd" d="m13.136 3.607 7.16 7.16c.439.44.439 1.151 0 1.59l-7.16 7.16-1.591-1.59 5.239-5.24H3.375v-2.25h13.409l-5.239-5.239 1.591-1.59Z" clip-rule="evenodd"/></svg>
          </button>
        </div>
      </div>

      <div class="grid items-center bg-grey-2 gap-2 px-3 lg:px-6 py-4 lg:py-8">
        <h5 class="mb-3">Add to Cart</h5>

        <button class="!max-w-[168px] button button--primary-dark atc-button">add to cart
        </button>

      </div>

      <div class="grid items-center bg-black gap-2 px-3 lg:px-6 py-4 lg:py-8">
        <h5 class="mb-3 text-white">Disabled</h5>

        <button disabled class="button">button
        </button>

      </div>

      <div class="px-6 py-8">
        <h5 class="mb-3">Links
        </h5>

        <p class="mb-4">This is an
          <a class="focus-link" href="#">inline link</a>
          example.</p>
        <a class="content-link">Content Module Link
        </a>
      </div>

      <div class="px-6 py-8 bg-black">
        <h5 class="mb-3 text-white">Links (Dark BG example)
        </h5>

        <p class="mb-4 text-white">This is an
          <a class="focus-link-dark" href="#">inline link</a>
          example.</p>
        <a class="content-link-dark">Content Module Link
        </a>
      </div>

    </div>
  </div>

  <div class="my-12 lg:my-20">
    <h3 class="mb-4 border-b pb-4 border-grey-3">Forms
    </h3>

    <form class="grid lg:grid-cols-2 items-start">
      <div class="grid items-center gap-2">
        <h5 class="mb-3">Fields
        </h5>

        <div class="mb-5 input-wrap">
          <input
            type="text"
            name="input-one"
            id="input-one"
            required
            data-error-message="Your name is required"
            placeholder=" ">
          <label class="absolute top-2 left-2" for="input-one">Text Input
          </label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="text"
            name="input-one"
            id="input-one"
            disabled
            required
            data-error-message="Your name is required"
            placeholder=" ">
          <label for="input-one">Text Input (Disabled)
          </label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="tel"
            name="input-two"
            id="input-two"
            required
            data-error-message="Your phone is required"
            placeholder=" ">
          <label for="input-two">Phone Input
          </label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="email"
            name="input-three"
            id="input-three"
            required
            data-error-message="Please enter a valid email address"
            placeholder=" ">
          <label for="input-three">Email Input
          </label>
        </div>

        <div class="mb-5 input-wrap">
          <input
            type="number"
            name="input-four"
            id="input-four"
            min="1"
            max="1000"
            required
            data-error-message="Please enter a number between 1 and 3"
            placeholder=" ">
          <label for="input-four">Number Input
          </label>
        </div>

        <div class="mb-5 input-wrap">
          <textarea
            name="textarea"
            id="textarea"
            cols="30"
            rows="10"
            required
            data-error-message="Please enter a message"
            placeholder=" "></textarea>
          <label for="textarea">Message
          </label>
        </div>

        <div class="mb-5 select-wrap">
          <select id="my-select">
            <option>Option One
            </option>
            <option>Option Three
            </option>
            <option>Option Two
            </option>
            <option>Option Four
            </option>
          </select>
        </div>

        <div class="mb-5 select-wrap">
          <select id="my-select">
            <option>Option One
            </option>
            <option>Option Three
            </option>
            <option>Option Two
            </option>
            <option>Option Four
            </option>
          </select>
          <label for="my-select">Frequency
          </label>
        </div>
      </div>

      <div class="grid items-center gap-2">
        <div class="my-4 flex flex-col">
          <div class="mt-3 check-wrap">
            <input
              type="checkbox"
              name="input-checkbox-1"
              id="input-checkbox-1">
            <label for="input-checkbox-1">Unchecked
            </label>
          </div>
          <div class="mt-3 check-wrap">
            <input
              type="checkbox"
              name="input-checkbox-2"
              id="input-checkbox-2"
              checked>
            <label for="input-checkbox-2">
             Checked
            </label>
          </div>
          <div class="mt-3 check-wrap">
            <input
              type="checkbox"
              name="input-checkbox-4"
              id="input-checkbox-4"
              checked
              disabled>
            <label for="input-checkbox-4">
              This is a disabled selected checkbox
            </label>
          </div>
        </div>

        <div class="my-4 flex flex-col">
          <div class="mt-3 radio-wrap">
            <input
              type="radio"
              name="styleguids-radios"
              id="input-radio-1">
            <label for="input-radio-1">No, don't sign me up.
            </label>
          </div>
          <div class="mt-3 radio-wrap">
            <input
              type="radio"
              name="styleguids-radios"
              id="input-radio-2"
              checked>
            <label for="input-radio-2">Yes, sign me up.
            </label>
          </div>
          <div class="mt-3 radio-wrap">
            <input
              type="radio"
              name="styleguide-radios-disabled"
              id="input-radio-4"
              checked
              disabled>
            <label for="input-radio-4">This is a disabled selected radio button
            </label>
          </div>
        </div>
      </div>

      <div>
        <button class="button button--primary-dark">Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% schema %}
  {
    "name": "Styleguide"
  }
{% endschema %}
