/*
 * ==========================================================================
 * Selects
 * ==========================================================================
*/

@layer base {
  .select-wrap {
    @apply relative inline-block;
  }

  select {
    @apply rounded-input border-input border-[var(--dropdown-border)] py-3 px-5 min-w-[20.625rem] bg-[var(--dropdown-bg)] text-[var(--dropdown-text)] cursor-pointer bg-select-arrow bg-no-repeat appearance-none transition-colors;
    background-position: right 20px center;
  }

  select:not(:disabled):active,
  select:not(:disabled):valid,
  select:not(:disabled):focus {
    @apply outline-none border-[var(--dropdown-active-border)] bg-[var(--dropdown-active-bg)] text-[var(--dropdown-active-text)];
  }

  select:not(:disabled):hover {
    @apply border-[var(--dropdown-hover-border)] bg-[var(--dropdown-hover-bg)] text-[var(--dropdown-hover-text)];
  }

  select:disabled {
    @apply cursor-not-allowed bg-[var(--input-disabled)] border-[var(--input-disabled)];
  }

  .select-wrap label {
    @apply absolute top-0 left-5 px-1 -translate-y-1/2 text-xxs text-[var(--dropdown-text)] font-medium pointer-events-none bg-white;
  }
}
