
@import url("https://p.typekit.net/p.css?s=1&k=gjs5bvt&ht=tk&f=26014.26026.26032.28167.39347.39348.39349&a=88495522&app=typekit&e=css");

@font-face {
font-family:"acumin-pro-extra-condensed";
src:url("https://use.typekit.net/af/d53db5/00000000000000003b9acb22/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/d53db5/00000000000000003b9acb22/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/d53db5/00000000000000003b9acb22/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"acumin-pro-extra-condensed";
src:url("https://use.typekit.net/af/8d1fa8/00000000000000003b9acb1e/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/8d1fa8/00000000000000003b9acb1e/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/8d1fa8/00000000000000003b9acb1e/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"acumin-pro-extra-condensed";
src:url("https://use.typekit.net/af/ca6558/00000000000000003b9acb18/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ca6558/00000000000000003b9acb18/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ca6558/00000000000000003b9acb18/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}
@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/26a6d6/00000000000000003b9b1fb4/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/26a6d6/00000000000000003b9b1fb4/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/26a6d6/00000000000000003b9b1fb4/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/f1d156/00000000000000003b9b1fb5/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/f1d156/00000000000000003b9b1fb5/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/f1d156/00000000000000003b9b1fb5/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@import url('https://use.typekit.net/kks2uzk.css');

.wufoo label.desc

.wufoo-form-container {
  background: #fafafa; }

#instruct131 {
  display: none; }

#header h2,
#fo9li131 {
  display: none;
}

.wufoo.desc {
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0.125rem; }

.wufoo li {
}

form li.buttons {
  display: flex;
  justify-content: center;
}

input.field, select.select {
  font-size: 1.125rem;
  padding: 16px 0 16px 0;
  border: solid 1px #DADADA;
  display: block;
  width: 100%;
  background: white; }

.wufoo input.btTxt {
  display: inline-flex;
  max-height: 45px;
  max-width: 103px;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .82rem;
  padding-top: .60rem;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 90%;
  letter-spacing: 2px;
  text-decoration-line: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-width: 2px;
  border-color: #1f1f1f;
  background-color: #1f1f1f;
  color: #ffffff;
  cursor: pointer;
}

.wufoo input.btTxt:hover {
  background-color: #ffffff;
  color: #1f1f1f;
}

.wufoo li.focused {
  background-color: transparent !important;
}

.wufoo label.desc {
  font-family:"acumin-pro", sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
  font-family:"acumin-pro", sans-serif !important;
  font-size: 1rem !important;
}

.wufoo .section div {
  font-family:"acumin-pro", sans-serif !important;
  font-size: 16px !important;
  line-height: 130% !important;
}

.recaptcha-text {
  padding: 0 !important;
  color: #1f1f1f;
  display: none;
}

.recaptcha-text a:hover {
  color: #016DD0;
}

input.text, input.search, input.file, textarea.textarea, select.select {
  font-family:"acumin-pro", sans-serif !important;
  font-size: 1rem !important;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
  font-family:"acumin-pro", sans-serif !important;
  color: #1f1f1f;
}

.wufoo .info, .wufoo .paging-context {
  border-bottom: none;
}

input {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.iphone .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  background: #ffffff; !important;
}

select {
  -webkit-appearance: auto;
}